/* px-to-rem conversions are based on a root font size of 16px */

.productList {
  list-style-type: none;
  display: flex;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .productList {
    width: 31%;
  }

  .listContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 1.5rem; /* 24px */
    row-gap: 2rem; /* 32px */
  }
}
